.flex {
    &.flex-padding {
        &>*:not(:first-child) {
            margin-left: 10px;
        }
    }

    @media (max-width: $screen-xs-max) {
        display: flex;
        &>*:not(:only-child) {
            flex: 1;
        }
    }
}

.flex-gte-sm {
    @media (min-width: $screen-sm-min) {
        display: flex;

        &>*:not(:only-child) {
            flex: 1
        }
    }
}