.tab {
    display: inline-block;
    border: 0;
    color: black;
    background-color: transparent;
    padding: 13px 15px;
    min-width: 100px;
    text-align: center;

    &:hover {
        background-color: rgba(0,0,0,0.1);
    }

    &.active {
        background-color: white;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid white;
        margin-bottom: -1px;
        padding-top: 8px;
        margin-top: 4px;
        border-radius: 4px 4px 0 0;

        &:not(:last-child) {
            border-right: 1px solid #ddd;
        }

        &:not(:first-child) {
            border-left: 1px solid #ddd;
        }

        border-right: 1px solid #ddd;

        @media (min-width: $screen-xs-max) {
            border-right: 1px solid #ddd;
        }
    }

    @media (max-width: $screen-xs-max) {
        &:last-of-type {
            margin-right: 5px;
        }

        &:first-of-type {
            margin-left: 5px;
        }
    }
}