@import "./components/bootstrap.scss";

@import "spinners/5-pulse.scss";
@import "spinners/10-fading-circle.scss";

@import "./components/mixins/responsive-margin.scss";

@import "./components/lightbox.scss";
@import "./components/radio-group.scss";

.light>.sk-fading-circle>.sk-circle:before {
    background-color: white;
}

.btn pulse {
    display: inline-block;
    .sk-spinner-pulse {
        width: 20px;
        height: 20px;
        margin-top: -5px;
        margin-bottom: -5px;
    }
}

body {
    padding-bottom: 200px;
    background-color: #222;
}

.container-fluid {
    max-width: $screen-lg;
}

.padding {
    padding-left: 15px;
    padding-right: 15px;
}

.margin {
    margin: 15px;
}

.quantity {
    color: #aaa;
    &::after {
        content: "x";
    }
}

textarea {
    min-height: 200px;
    resize: vertical;
}

.panel-heading:only-child {
    border-bottom-width: 0;
}

.stat-group {
    .name::after {
        content: ":";
    }
    .bar {
        background-color: #555;
        color: #555;
    }
    .value {
        color: #aaa;
        &::before {
            content: "(";
        }
        &::after {
            content: ")";
        }
    }
}

.navigation {
    background-color: #222;
    height: 50px;

    a, button {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px;

        border: 0;
        outline: none;
        color: #f5f5f5;
        background-color: transparent;
        
        &:hover, &:active, &:focus {
            color: #fff;
            background-color: #000;
            text-decoration: none;
        }
    }
}

#card-preview {
    position:absolute;
    height:300px;
}

.form-control.name-input {
    color: #333;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    transition-duration: 0ms;
    margin-left: -5px;
    padding-left: 5px;
    &:not(:hover):not(:focus):not(:active) {
        background-color: transparent;
        border-color: transparent;
        box-shadow: transparent 0 0 0;
    }
}

.list-group {
    @include responsive-margin();
}

.panel {
    @include responsive-margin();
}

@media (max-width: $screen-sm-max) {
    .panel {
        border-radius: 0px;
        .panel-heading {
            border-radius: 0px;
        }
    }
    .list-group-item {
        &:first-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
        &:last-child {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}