<div ng-controller="CardGroupController as vm">
    <header class="flex" ng-if="!vm.isEditing">
        <span class="tab" ng-click="vm.showToolbar = !vm.showToolbar">
            {{::vm.cardGroup.name}}
            <span class="badge">{{::vm.cardGroup.count}}</span>
            <span class="icon" ng-if="vm.cardGroup.cards.length > 0">{{vm.showToolbar ? "7" : "4"}}</span>
        </span><!--
        --><span class="tab" ng-if="vm.canEdit" ng-click="vm.startEditing()">Edit</span>
    </header>
    <header class="flex" ng-if="vm.isEditing">
        <span class="tab" ng-click="vm.applyChanges()">
            {{::vm.cardGroup.name}}
            <span class="badge">{{::vm.cardGroup.count}}</span>
            <span class="icon" ng-if="::vm.cardGroup.cards.length > 0">{{::vm.showToolbar ? "7" : "4"}}</span>
        </span><!--
        --><span class="tab active">Edit</span>
    </header>
    <div class="radio-group" ng-if="vm.cardGroup.cards.length > 0 && !vm.isEditing && vm.showToolbar">
        <label>
            <input type="radio" ng-model="vm.view" value="group-by-type" ng-click="vm.showToolbar = false"/>
            Card Type
        </label>
        <label>
            <input type="radio" ng-model="vm.view" value="group-by-color" ng-click="vm.showToolbar = false"/>
            Color
        </label>
        <label>
            <input type="radio" ng-model="vm.view" value="group-by-cmc" ng-click="vm.showToolbar = false"/>
            Converted Mana Cost
        </label>
        <label>
            <input type="radio" ng-model="vm.view" value="group-by-name" ng-click="vm.showToolbar = false"/>
            Name
        </label>
        <label>
            <input type="radio" ng-model="vm.view" value="group-by-price" ng-click="vm.showToolbar = false"/>
            Price
        </label>
    </div>
    <div class="alert alert-danger margin" ng-if="vm.cardGroup.failedCards.length > 0">
        <p class="alert-title">Unknown Cards</p>
        <span ng-repeat="card in vm.cardGroup.failedCards track by $index">{{card}}<br></span>
    </div>
    <div ng-if="!vm.isEditing && vm.cardGroup.cards.length > 0">
        <directive-container directive="vm.view" cardgroup="vm.cardGroup"></directive-container>
    </div>
    <form name="vm.form" class="margin" ng-if="vm.isEditing">
        <textarea class="form-control has-bottom-buttons"
                  placeholder="4x Island"
                  ng-model="vm.cardsBlob"
                  ng-model-options="{updateOn: 'blur'}"
                  msd-elastic></textarea>
        <div class="bottom-buttons">
            <button class="btn btn-default" type="button" ng-click="vm.applyChanges()">Apply Changes</button><!--
            --><button class="btn btn-default" type="button" ng-click="vm.discardChanges()">Discard Changes</button>
        </div>
    </form>
</div>