<div class="flex-gte-sm margin" style="margin-bottom:0;">
    <div ng-repeat="column in columns">
        <div class="card-group" ng-repeat="row in ::column">
            <p class="large capitalize" ng-if="::row.name">{{::row.name}} <span class="badge">{{::row.numberOfCards}}</span></p>
            <p>
                <span ng-repeat="card in ::row.cards">
                    <span class="quantity">{{::card.quantity}}</span>
                    <a href="#" class="name" card-preview="card.definition.imageUri" lightbox="card.definition.imageUri">{{::card.definition.name}}</a>
                    <span class="price">{{::card.usd}}</span>
                    <br>
                </span>
            </p>
        </div>
    </div>
</div>