<div ng-controller="DecksController as vm">
    <div class="list-group margin-v margin-h">
        <a class="list-group-item" href="#/decks/new">
            <span class="glyphicon glyphicon-plus"></span>
            Build a New Deck
        </a>
    </div>
    <spinner class="light" ng-if="vm.isSearching"></spinner>
    <div class="list-group margin-v margin-h">
        <a class="list-group-item" href="#/decks/{{::deck.id}}" ng-repeat="deck in vm.decks">{{::deck.name}}</a>
    </div>
</div>