<main class="sm" ng-controller="decksController as vm">
    <nav>
        <div class="select">
            <div class="select-label">{{vm.currentTagName}}<span class="spacer"></span><span class="icon" style="position:absolute;right:15px;" ng-show="vm.tags.length > 0">4</span></div>
            <select ng-model="vm.currentTagOptionIndex"
                    ng-change="vm.onCurrentTagOptionIndexChanged()"
                    ng-if="vm.tags.length > 0">
                <option value="0">- All -</option>
                <option value="1">- Untagged -</option>
                <option ng-repeat="tag in vm.tags" value="{{$index + 2}}">{{::tag}}&nbsp;&nbsp;</option>
            </select>
        </div>
        <div class="pull-right">
            <auth></auth>
        </div>
    </nav>
    <div class="list-group">
        <a class="list-group-item" href="#/decks/new">
            <strong>+</strong>
            Build a New Deck
        </a>
        <a class="list-group-item" href="#/decks/{{::deck.id}}" ng-repeat="deck in vm.visibleDecks">
            {{::deck.name}}
            <span class="badge pull-right" ng-repeat="tag in ::deck.tags track by $index">{{::tag}}</span>
        </a>
    </div>
    <spinner class="light" ng-if="vm.isLoading"></spinner>
</main>